.Hero {
  width: auto;
  height: 700px;
  font-family: "poppins", sans-serif;
  /* margin-top: 0; */
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  background-image: url("../../Images/HeroBGhalf.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

h1 {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 35px;
  font-weight: 700;
}

p {
  display: flex;
  max-width: 600px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  p {
    padding: 10px;
  }

  .hero {
    width: auto;
    /* height: 600px !important; */
    flex-direction: column;
    background-image: url("../../Images/HeroBGhalf.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 80px;
  }
}
