.Navbar {
  font-family: "poppins", sans-serif;
}

.Navbar .NavBg {
  display: flex;
  /* background-color: #023047ff;
  background-image: url("../../Images/navbg.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  opacity: 0.8;
}

.Navbar .LeftSide {
  flex: 50%;
}
.Navbar .LeftSide .Logo {
  max-height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.Navbar .LeftSide .Logo img {
  max-height: 50px;
}

.Navbar .RightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-right: 50px;
  transition: 850ms;
}

.Navbar .RightSide .Links {
  max-height: 80px;
}

.Navbar .RightSide .Links a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.Navbar .RightSide .Burger {
  display: none;
}
.Navbar .RightSide #hidden {
  display: flex;
}

@media only screen and (max-width: 650px) {
  .Navbar .RightSide .Burger {
    display: flex;
    max-height: 80px;
    color: black;
    font-size: large;
    cursor: pointer;
    justify-content: right;
    align-items: center;
  }
  .Navbar .RightSide .Links {
    display: none;
  }
  .Navbar .RightSide .Links a {
    font-size: 15px;
  }

  .Navbar .RightSide {
    flex: 25%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .Navbar .LeftSide {
    flex: 75%;
  }

  .Navbar .RightSide #hidden {
    position: absolute;
    left: 0px;
    top: 50px;
    height: 200px;
    width: 100%;
    background-color: white;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 850ms;
    animation: fade-in 0.5s ease-in-out;
    animation-direction: alternate;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
}

/* --blue-green: #5c98abff;
--prussian-blue: #023047ff;
--forest-green-web: #0e9119ff;
--honey-yellow: #ffb703ff;
--orange: #fb8500ff; */
