.App {
  /* width: 100vw; */
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: #023047ff; */
}

/* --blue-green: #5c98abff;
--prussian-blue: #023047ff;
--forest-green-web: #0e9119ff;
--honey-yellow: #ffb703ff;
--orange: #fb8500ff; */
